.App {
  text-align: left;
}

.flex {
display: flex;
align-items: center;
justify-content: center;
padding-right: 5%;
padding-left: 5%;

}



.cvPic {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: antiquewhite;
  max-height: 365px;
  min-width: 330px;
  object-fit: contain;
}

.cvHeader {


  padding: 10px;
  color: white;

  
  background-color: rgb(106, 143, 24);
    

  max-height: 365px;
}

.App-logo {

  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  
  border-radius: 15px;
  
  
}

.Grid {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.5rem;
  padding: 15px;
  align-content: center;
  max-width: 1000px;

}

.grid-box {

  padding: 15px;
  border-radius: 15px;

}

@media screen and (min-width: 600px)  {
  


.Grid-col-span2 {

  grid-column: span 2 / auto;
  color: white;
  background-color: rgb(7, 109, 242);
  justify-content: left;

}
}


.Grid-col-span2 {

  color: white;
  background-color: rgb(7, 109, 242);
  justify-content: left;

}


.App-body {

  background-color: #282c34;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}